<ion-card class="eventItem" (click)="onItemClick()">  
  <img #img  src="{{info.imgPath}}" />
  <ion-card-header>
    <ion-card-subtitle >{{info.subTitle}}</ion-card-subtitle>
    <ion-card-title >{{info.title}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="danger">
        <ion-icon color="light" (click)="onDeleteClick()" name="close-circle-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-card-content>


</ion-card>