<ion-header>
  <ion-toolbar>
    <ion-title><img width="30px" height="30px" src="{{info.imgPath}}" /> {{info.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="description">
    <ion-text >
      {{info.text}}
    </ion-text>
  </ion-card>
  <ion-card>
    <ion-header>
      Teilnehmer
    </ion-header>
    <div scrollx="true" >
      <ion-list #userList>

      </ion-list>
    </div>

  </ion-card>
  <ion-button (click)="closeModal()">
    Back
  </ion-button>
</ion-content>
