<ion-header>
  <ion-toolbar>
    <ion-title><img width="30px" height="30px" src="{{info.imgPath}}" /> {{info.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="description">
      <ion-text >
        {{info.text}}
    </ion-text>

  </ion-card>
  <ion-card>
    <ion-header>
      Teilnehmer
    </ion-header>
    <div scrollx="true" >
      <ion-list #userList>

      </ion-list>
    </div>
    <ion-button (click)="onJoinLeave()">{{joinLeaveBtnTxt}}</ion-button>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button>
      <ion-icon (click)="closeModal()" name="arrow-back-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
